//COLORS
$color-primary: #d8ae76;
$color-primary-light: #eec896;
$color-primary-dark: #9b7038;

$color-secondary-light: #e4867f;
$color-secondary-dark: #aa3333;

$color-tertiary-light: #daeb76;
$color-tertiary-dark: #65942e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #cccccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#333;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;