.footer {
    background-color: $color-grey-dark-3;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        width: 25rem;
        height: auto;
        margin: 0 auto;
    }
    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last-child){
            margin-right: .5rem;
        }
    }
    &__link {
        
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            
        }
        &:hover,
        &:active {
            color: $color-primary;
            box-shadow:  0 1rem 2rem rgba($color-black, 0.4);
            transform: scale(1.2);
        }
    }
    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
    }
    &__phone {
        text-decoration: none;
        color: $color-grey-light-1;
    }
}