body {
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color:$color-grey-dark;
}


.heading-primary{
    color:$color-white;
    text-transform: uppercase;
 
    backface-visibility: hidden;
    margin-bottom: 3rem;
    
    &--main{
     display: block;
     font-size: 6rem;
     font-weight: 700;
     letter-spacing: 1.5rem;
  
     animation-name: moveInLeft;
     animation-duration: 0.5s;
     animation-timing-function: ease-out;
  }
  &--sub{
     display: block;
     font-size: 2rem;
     font-weight: 700;
     animation-name: moveInLeft;
     animation-duration: 1s;
     text-transform: none;
  }
 }

 .heading-secondary {
     font-size: 3.5rem;
     text-transform: uppercase;
     font-weight: 700;
     display: inline-block;
     color: $color-primary; 
     letter-spacing: 2px;
 }
 .heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
 }
 .paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
 }