.section-about {
    background-color: $color-grey-light-1;
    padding: 35rem 0;
    margin-top:-30vh;
    &__second{
        padding-top: 8rem;
        font-weight: 500;
        font-size: 1.7rem;
    }
    
     &__list{
         list-style: none;
         margin-left: 2.7rem;
        
     }
    
     &__item:not(:last-child){
        margin-bottom: 1.5rem;
    }
}
.section-features {
    padding: 20rem 0;
   
    background-image:linear-gradient(to right bottom, 
    rgba($color-primary-light, 0.801),
    rgba($color-primary-dark, 0.801)) ,
    url(../img/chairs-contemporary-designer-416320.jpg);
    background-size: cover;
    background-position: center; 
    transform: skewY(-7deg);

    margin-top: -10rem;
    

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top:-10rem;
}

.section-stories {
    background-color: transparent;
    padding: 15rem 0;
    position: relative;
}
.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
                    $color-primary-light,
                    $color-primary-dark);
}

.book {
    background-image:linear-gradient(105deg,
                    rgba($color-white,.9) 0%,
                    rgba($color-white,.9) 50%,
                   transparent 50%),
                    url(../img/umow1.jpg);
                    
    background-size: cover;
    background-position: right;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}